In [1]:
# 2. SQL
# Implement SQL query to select employees first names and last names(employee and managers) 
# who worked from 2020-01-01 to 2020-01-31. Note that dt_work_from and dt_work_to are 
# date-time fields.
SELECT employee.first_name, employee.last_name, manager.first_name, manager.last_name FROM 
employee FULL OUTER JOIN table_1 ON employee.id_employee = table_1.id_employee FULL OUTER 
JOIN manager ON table_1.id_manager = manager.id_manager WHERE 
table_1.dt_work_from = '2020-01-01' AND table_1.dt_work_to = '2020-01-31'